<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Page</title>
    <style>
        body {
            text-align: center;
        }
        a {
            color: white;
            background-color: blue;
            border: 2px solid black;
            border-radius: 10px;
            text-decoration: none;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h2>Hello, Welcome to the Flask Web Site</h2>
    <p>Explore more..</p>
    <a href="{{ url_for("login")}}">Login</a>
    <a href="{{ url_for("signup") }}">SignUp</a>
</body>
</html>