<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="image">Upload Image</label>
        <input type="file" name="image" id="image" accept="image/*" required>
        <button type="submit">submit</button>
        {% if filename %}
        <img src="{{ url_for('static', filename = 'uploads/' + filename) }}" alt="image" width="300">
        {% endif %}
    </form>
</body>
</html>